WebContent/wsdl/PerfumeBO.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://bo.fiap.com.br" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://bo.fiap.com.br" xmlns:intf="http://bo.fiap.com.br" xmlns:tns1="http://entity.fiap.com.br" xmlns:tns2="http://exception.fiap.com.br" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://bo.fiap.com.br" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://entity.fiap.com.br"/>
   <import namespace="http://exception.fiap.com.br"/>
   <element name="listar">
    <complexType/>
   </element>
   <element name="listarResponse">
    <complexType>
     <sequence>
      <element name="listarReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_anyType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <element name="buscar">
    <complexType>
     <sequence>
      <element name="codigo" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="buscarResponse">
    <complexType>
     <sequence>
      <element name="buscarReturn" type="tns1:Perfume"/>
     </sequence>
    </complexType>
   </element>
   <element name="cadastrar">
    <complexType>
     <sequence>
      <element name="perfume" type="tns1:Perfume"/>
     </sequence>
    </complexType>
   </element>
   <element name="cadastrarResponse">
    <complexType/>
   </element>
   <element name="fault" type="tns2:DBException"/>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://entity.fiap.com.br" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://exception.fiap.com.br"/>
   <import namespace="http://bo.fiap.com.br"/>
   <complexType name="Perfume">
    <sequence>
     <element name="categoria" nillable="true" type="xsd:anyType"/>
     <element name="codigo" type="xsd:int"/>
     <element name="nome" nillable="true" type="xsd:string"/>
     <element name="preco" type="xsd:double"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://exception.fiap.com.br" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://entity.fiap.com.br"/>
   <import namespace="http://bo.fiap.com.br"/>
   <complexType name="DBException">
    <sequence/>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="listarRequest">

      <wsdl:part element="impl:listar" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="buscarResponse">

      <wsdl:part element="impl:buscarResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="DBException">

      <wsdl:part element="impl:fault" name="fault">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="cadastrarResponse">

      <wsdl:part element="impl:cadastrarResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="buscarRequest">

      <wsdl:part element="impl:buscar" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="cadastrarRequest">

      <wsdl:part element="impl:cadastrar" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listarResponse">

      <wsdl:part element="impl:listarResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="PerfumeBO">

      <wsdl:operation name="listar">

         <wsdl:input message="impl:listarRequest" name="listarRequest">

       </wsdl:input>

         <wsdl:output message="impl:listarResponse" name="listarResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="buscar">

         <wsdl:input message="impl:buscarRequest" name="buscarRequest">

       </wsdl:input>

         <wsdl:output message="impl:buscarResponse" name="buscarResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="cadastrar">

         <wsdl:input message="impl:cadastrarRequest" name="cadastrarRequest">

       </wsdl:input>

         <wsdl:output message="impl:cadastrarResponse" name="cadastrarResponse">

       </wsdl:output>

         <wsdl:fault message="impl:DBException" name="DBException">

       </wsdl:fault>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="PerfumeBOSoapBinding" type="impl:PerfumeBO">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="listar">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listarRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="listarResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="buscar">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="buscarRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="buscarResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="cadastrar">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="cadastrarRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="cadastrarResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="DBException">

            <wsdlsoap:fault name="DBException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="PerfumeBOService">

      <wsdl:port binding="impl:PerfumeBOSoapBinding" name="PerfumeBO">

         <wsdlsoap:address location="http://localhost/NAC-2TDSA-WebserviceSOAP-provider-banco/services/PerfumeBO"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
